<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Public School Characteristics | Public School Characteristics </title>-->
    <link rel="stylesheet" href="/static/css/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
   </head>
<body>
  <div class="sidebar">
    <div class="col-md-12 jumbotron text-center">
      <center><b><h1>Public School Characteristics Data for 2020-2021</h1></b></center>
      <center><p><h3>Use the interactive charts below to explore the dataset</h3></p></center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="well">
        <h5>State Name:</h5>
        <select id="selDataset" onchange="optionChanged(this.value)">
          <option value="CL">City: Large</option>
          <option value="CL">City: Small</option>
          <option value="CL">Suburb: Large</option>
          <option value="CL">Suburb: Mid-size</option>
          <option value="CL">Suburb: Small</option>
          <option value="CL">Town: Fringe</option>
          <option value="CL">Town: Distant</option>
          <option value="CL">Rural: Fringe</option>
          <option value="CL">Rural: Distant</option>
        </select>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">School Info</h3>
        </div>
        <div id="sample-metadata" class="panel-body"></div>
      </div>
    </div>
    <div class="col-md-5">
      <div id="map"></div>
    </div>
    <div class="col-md-5">
      <div id="bar1"></div>
    </div>
    <div class="col-md-5">
      <div id="pie"></div>
    </div>
    <div class="col-md-5">
      <div id="bar2"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./static/js/plots.js"></script>
<script src="/static/js/map_js.js"></script>
</body>

</html>
   